* {
}

#c {
  background: #ccc;
}

h4 {
  text-decoration: underline;
  font-family: arial;
  margin-bottom: 5px;
}

p {
  font-family: arial;
  margin-top: 5px;
}

@font-face {
  font-family: "digital-font";
  src: url("digital-7.regular.ttf");
}

#gradTop {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 20%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

#gradBottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#gamblingMachineContainer {
  /* background:black; */
  /* position: relative; */
  border: 5px solid #444;
  /* border-bottom: 12px solid #222; */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 280px;
  /* height: 200px; */
  padding: 5px;
  /* margin: 0 auto;  */
}

#clear {
  clear: both;
}

#slotMachineContainer {
  float: left;
  position: relative;
  display: inline-block;
  padding: 5px;
  background: #333;
}

.nudgeOrMove {
  cursor: pointer;
  border: 5px solid #777;
  border-bottom: 12px solid #222;
  border-radius: 5px;
  background: lime;
  /* -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite; */
  margin-left: 15px;
  /* margin-bottom: 0px; */
}

/* .nudgeOrMove:active{
  cursor: pointer;
  border: 5px solid #777;
  border-bottom: 5px solid #333;
  border-radius: 5px;
  background: lime;

  margin-left: 2px;
} */

#credit-earnings {
  position: absolute;
  /* border:3px solid red; */
  /* border-radius: 6px; */
  padding: 10px;
  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid black; */
  position: absolute;
  /* margin: 0 auto; */
  text-align: center;
  width: calc(100% - 20px);
  bottom: 0px;
  font-family: digital-font;
  font-size: 1.2em;
  color: lime;
}

#creditInformationContainer {
  position: relative;
  margin-left: 5px;
  flex-grow: 1;
  /* border: 2px solid black; */
}

#credits-remaining-container {
  height: 30%;
  border: 3px solid red;
  border-radius: 6px;
  position: relative;
  margin-top: 10px;
  background: black;
}

#nudges-remaining-container {
  height: 30%;
  border: 3px solid red;
  border-radius: 6px;
  position: relative;
  /* margin-top: 10px; */
  /* margin-bottom:5px; */
  margin-top: 20px;
  background: black;
}

#nudges-title {
  position: absolute;
  width: 80%;
  padding-top: 2px;
  height: 15px;
  left: 8%;
  background: red;
  font-size: 0.8em;
  border-radius: 6px;
  top: -15px;
  border: 2px solid black;
  border-bottom: 4px solid black;
  font-family: digital-font;
  text-align: center;
}

#credit-title {
  position: absolute;
  width: 80%;
  padding-top: 2px;
  height: 20px;
  left: 8%;
  background: red;
  border-radius: 6px;
  top: -15px;
  border: 2px solid black;
  border-bottom: 4px solid black;
  font-family: digital-font;
  text-align: center;
}

#credit-container {
  padding: 10px;
  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid black; */
  position: absolute;
  /* margin: 0 auto; */
  text-align: center;
  width: calc(100% - 20px);
  bottom: 0px;
  font-family: digital-font;
  color: lime;
}

.isReadyToSpin {
  cursor: pointer;
  border: 5px solid #777;
  border-bottom: 12px solid #333;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background: lightgreen;
  margin-left: 15px;
  -webkit-animation: flash linear 0.3s infinite;
  animation: flash linear 0.3s infinite;
}

.addFlash {
  -webkit-animation: flash linear 0.3s infinite;
  animation: flash linear 0.3s infinite;
}

.nudgesFlash {
  -webkit-animation: orangeFlash linear 0.3s infinite;
  animation: orangeFlash linear 0.3s infinite;
}

.isNotReadyToSpin {
  border: 5px solid grey;
  border-bottom: 5px solid #444;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background: #ff0000;
  margin-left: 15px;
  /* -webkit-animation: flash linear 0.3s infinite;
  animation: flash linear 0.3s infinite; */
}

.buttonsContainer {
  margin-top: 10px;
  /* height: 200px; */
}

@-webkit-keyframes flash {
  0% {
    background: white;
  }
  50% {
    background: lime;
  }
  100% {
    background: white;
  }
}
@keyframes flash {
  0% {
    background: white;
  }
  50% {
    background: lime;
  }
  100% {
    background: white;
  }
}

@-webkit-keyframes orangeFlash {
  0% {
    background: white;
  }
  50% {
    background: orange;
  }
  100% {
    background: white;
  }
}

@keyframes orangeFlash {
  0% {
    background: white;
  }
  50% {
    background: orange;
  }
  100% {
    background: white;
  }
}
